---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import Link from "@components/Link.astro";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <Container>
    <div class="mt-16 grid place-items-center gap-3">
      <h2 class="animate text-2xl font-semibold text-black dark:text-white">
        Resume
      </h2>
      
      <div class="animate flex flex-col gap-4 ">
   

        <div class="mb-4 ">
            <h4 class="text-xl font-semibold text-black dark:text-white">  📋 Experience </h4>
          
            <ul class="flex flex-col gap-4 my-4">

                <li>•  <span class="text-black dark:text-white text-xs pr-4">Nov 2012 - Jul 2024 </span> <Link external href="https://www.nearform.com/" ><span class="font-semibold">NearForm</span> </Link> - Senior Software Engineer</li>
                <li>•  <span class="text-black dark:text-white text-xs pr-4">Nov 2012 - Jul 2024 </span> <Link external href="https://www.telepass.com/" > <span class="font-semibold">Telepass</span> </Link> -  Software Engineer</li>
                <li>•  <span class="text-black dark:text-white text-xs pr-4">Nov 2018 - Nov 2022 </span> <Link external href="https://www.shopfully.com/" > <span class="font-semibold">ShopFully</span> </Link> - Frontend Developer</li>
                <li>•  <span class="text-black dark:text-white text-xs pr-4">Nov 2017 - Aug 2018 </span> <Link external href="https://www.ey.com/" > <span class="font-semibold">Ey</span> </Link> - FullStack Developer</li>
                <li>•  <span class="text-black dark:text-white text-xs pr-4">May 2017 - May 2017 </span> <Link external href="https://www.getconnected.it/" > <span class="font-semibold">GetConnected</span> </Link> -  Software Engineer</li>
                <li>•  <span class="text-black dark:text-white text-xs pr-4">Sep 2014 - Sep 2016 </span> <Link external href="https://www.futuredem.org/" > <span class="font-semibold">FutureDem</span> </Link> - Web Developer</li>
            </ul>
        </div>

        <div class="mb-4">
          <h4 class="text-xl font-semibold text-black dark:text-white">📚  Education</h4>
          <ul class="flex flex-col gap-4 my-4">
              <li>
                  <span class="font-semibold">•  [2009 - 2014] </span>  Technical and Professional Institute Diploma
              </li>
              <li>
                  <span class="font-semibold">•  [2014 - 2018] </span> <Link  href="https://amslaurea.unibo.it/15446/" underline={false}> Bachelor's degree University of Bologna [Thesis: Android - Kotlin] </Link>
              </li> 
          </ul>

      </div>

      </div>
    </div>
  </Container>
</Layout>




    </div>
  </Container>
</Layout>


